// 使用频率比较高的样式，另可根据ui风格添加
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.x-center {
  display: flex;
  justify-content: center;
}

.y-center {
  display: flex;
  align-items: center;
}
